body{
    background-color:#e6e6e6;
}

button{
    background-color:pink;
    margin-left:20px;
    color:white;
  
}

#animal-form{
    float:right;
    margin-right:20px;
}

#add-animal{
    background-color:pink;
    color:white;
}
